.App-header {
  text-align: center;
  background-color: #222;
  padding: 1rem;
  color: white;
  margin-bottom: 1rem
}
.App-header a {
  text-decoration: none;
  color: #bbb;
}
.App-header a:hover {
  text-decoration: none;
  color: #fff;
}
.App-header .login-section {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
}
.App-title {
  font-size: 1.5em;
}
.App-intro {
  font-size: large;
}

/* Hide input number arrows */
input[type='number'] {
    -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* transactions-list table */
.rt-tr-group:hover {
  background-color: #f9f9f9;
}
