.form-transaction {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.btn-block {
  margin-top: 20px;
}

.search-icon {
  height: 18px;
}

.styled-btn {
  border-color: #ced4da !important;
}
.styled-btn:hover {
  background-color: #e4e4e4 !important;
}

.input-group-append {
  z-index: 0 !important;
}
